<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sentimen Classification</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<style>
    .container {
        height: 480px;
        position: relative;
        border: 3px solid green;
    }

    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>
<script>
    // Get Data from flask
    var data = { { data } }
</script>
<body>
    <div class="container">
        <div class="center">
            <!-- bagian klasifikasi per kalimat -->
            <form method="POST">
                <input name="text" /> <br>
                <button>Submit</button>
    
                 <!-- Hasil prediksi -->
                <center><label>{{data}}</label></center> <br> <br>
            </form>    
            
            <!-- Bagian untuk upload file -->
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <input type = "file" name = "file" /> <br> <br>
                <button>Upload File</button>
            </form>
        </div>
    </div>    

</body>
</html>