<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>SVM Sentimen Analisis</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h3>Prediksi Texts</h3>
    <form method="POST">
        <label for="fname">Masukan teks yang anda</label>
        <textarea name="text"></textarea><br><br>
        <input type="submit" value="Submit">
        
    </form> 
    <script>
        // Get Data from flask
        var data = { {data} }
    </script>
    <!-- Show result -->
    <label>{{data}}</label>
    <br>
    <h3>Prediksi Melalui CSV</h3>
    <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="fileupload" id="fileToUpload"> <br><br>
        <input type="submit" value="Prediksi CSV" name="submit">
    </form>


</body>

</html>